/* Page */
Page {
    background-color:#e4ba4e;
}

SegmentedBar {
    background-color: transparent;
    color: #fac950;
    margin: 12 12;
}

/* Slide-out */
.slide-out-img {
    margin: 20 0 30 12;
}

.slide-out-btn-about {
    color: #576a72;
    background-color: #053140;
    font-size: 12;
    text-align: left;
    margin: 12;
    font-weight: bold;
    height: 44;
}

.slide-out-btn {
    color: #e4ba4e;
    background-color: #053140;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
}

.slide-out-btn-selected {
    color: white;
    background-color: #053140;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
}

.action-bar {
    height: 44;
}

.action-bar-title {
    horizontal-align: center;
    vertical-align: center;
    font-size: 20;
    color: white;
}

.darker {
    background-color: #55000000;
}

.page-header {
    background-image: url('res://background');
    background-size: cover;
}

.page-title {
    font-size: 14;
    color: #fac950;
}

.session-page-title {
    font-size: 17;
    color: #fac950;
    background-color:"ff0000";
}

.info-page-header {
    font-size: 17;
}

.session-page-subtitle {
    font-size: 12;
    color: #f7db94;
    font-weight: bold;
}

.icon-image {
    vertical-align: center;
    horizontal-align: left;
}

.action-wrap {
    padding-left: 12;
    padding-right: 12;
}

.favourite-wrap {
    horizontal-align: left;
    vertical-align: top;
    padding: 12;
    margin-right: 16;
}

.back-text {
    color: white;
    font-size: 17;
    margin-left: 2;
}

.search {
    font-size: 14;
    background-color: #fac950;
    color: #fac950;
}

.info {
    font-size: 14;
    color: #555555;
}

.info-bigger {
    color: #555555;
    font-size: 17;
    margin: 0;
}

.info-orange {
    font-size: 12;
    color: #A17201;
    margin: 0;
}

.description {
    font-size: 15;
    color: #555555;
}

.more-button {
    margin: 6 0;
    font-size: 14;
    color: #05303F;
    horizontal-align: left;
    background-color: white;
}

.section-header {
    margin-top: 6;
    color: #A17201;
}

.horizontal-line {
    height: 1;
    background-color: #FAC950;
    vertical-align:center;
    margin: 12 0 8 0;
}

/* List rows */
.break-row {
    padding: 12;
    background-color: #FFFBF0;
}

.list-view-row {
    padding: 12 12 12 0;
}

.speakers-row {
    padding-top: 12;
}

.speaker-image {
    horizontal-align: left;
    vertical-align: top;
    margin-right: 12;
}

.content {
    margin: 12;
}

.content-offset {
    padding: 12;
    background-color: #ffffff;
}

.bold {
    font-weight: bold;
}

.session-item {
    height: 100;
}

/*-----------*/
.star-img-wrapper {
    height: 50;
    width: 50;
    border-width: 1;
    border-color: blue;
}

.star-bakf {
    animation-name: bakf;
    animation-duration: 1s;
}

.star-img-fav {
    background-image: url('~/images/star_sprite.png');
    background-size: cover;
    height: 50;
    width: 50;
    background-position: -1400 0;
}
.star-img-unfav {
    background-image: url('~/images/star_sprite.png');
    background-size: cover;
    height: 50;
    width: 50;
    background-position: 0 0;
}

.star-img {
    background-image: url('~/images/star_sprite.png');
    background-size: cover;
    height: 50;
    width: 50;
}
.star-img-1 {
    background-position: 0 0;
}
.star-img-2 {
    background-position: -50 0;
}
.star-img-3 {
    background-position: -100 0;
}
.star-img-4 {
    background-position: -150 0;
}
.star-img-5 {
    background-position: -200 0;
}
.star-img-6 {
    background-position: -250 0;
}
.star-img-7 {
    background-position: -300 0;
}
.star-img-8 {
    background-position: -350 0;
}
.star-img-9 {
    background-position: -400 0;
}
.star-img-10 {
    background-position: -450 0;
}
.star-img-11 {
    background-position: -500 0;
}
.star-img-12 {
    background-position: -550 0;
}
.star-img-13 {
    background-position: -600 0;
}
.star-img-14 {
    background-position: -650 0;
}
.star-img-15 {
    background-position: -700 0;
}
.star-img-16 {
    background-position: -750 0;
}
.star-img-17 {
    background-position: -800 0;
}
.star-img-18 {
    background-position: -850 0;
}
.star-img-19 {
    background-position: -900 0;
}
.star-img-20 {
    background-position: -950 0;
}
.star-img-21 {
    background-position: -1000 0;
}
.star-img-22 {
    background-position: -1050 0;
}
.star-img-23 {
    background-position: -1100 0;
}
.star-img-24 {
    background-position: -1150 0;
}
.star-img-25 {
    background-position: -1200 0;
}
.star-img-26 {
    background-position: -1250 0;
}
.star-img-27 {
    background-position: -1300 0;
}
.star-img-28 {
    background-position: -1350 0;
}
.star-img-29 {
    background-position: -1400 0;
}


.unfav {
    animation-name: changeme;
    animation-duration: 3s;
}


@keyframes changeme {
    0% { transform: scale(1, 1); }
    75% { transform: scale(1.5, 1.5); }
    100% { transform: scale(1, 1); }
}

@keyframes bakf {
    0% { opacity: 1; background-image: url('~/images/star_sprite.png'); }
    100% { opacity: 1; background-image: url('~/images/star_sprite.png'); }
}


.star-icon {
        height: 50;
    width: 50;
}