<GridLayout rows="auto, *">

	<!-- Header -->
	<StackLayout class="page-header">
		<GridLayout class="action-bar darker">
			<GridLayout class="action-wrap" (tap)="showSlideout($event)" columns="auto" horizontalAlignment="left">
				<Image stretch="none" class="icon-image" src="res://ic_menu"></Image>
			</GridLayout>
			<Label [text]="actionBarTitle" class="action-bar-title"></Label>
		</GridLayout>

	</StackLayout>


	<!-- Sponsors -->
	<StackLayout row="1" class="content-offset">

		<Image src="res://sponsor_logo_fdg" stretch="aspectFit"></Image>
		<Label class="info" textWrap="true" text="FDG - Global Provider of IT Services"></Label>
		<Image src="res://sponsor_logo_umer" stretch="aspectFit"></Image>
		<Label class="info" textWrap="true" text="UMER - Business Intelligence Experts"></Label>

	</StackLayout>
</GridLayout>